.btn-cta{
    background: #A22525;
    border-radius: 20px;

}
.navbar{
    background-color:#FFC5BD;
}
    
.page-section{
    background-color: #FFC5BD;
}

.background{
    background-color: #FFC5BD;
}

.navbar-expand{
    background-color: #FFA391;;
}


